<% layout('/layouts/Boilerplate') %>
<body>
    <h3>All Listings</h3>
    <div id="listings-container">
        <% listings.forEach((listing) => { %>
            <div class="listing" >
                <a href= "/listings/<%= listing.id %>">
                     <h4><%= listing.title %></h4>
                    <img src="<%= listing.image.url %>" alt="<%= listing.title %>">
                    <p><%= listing.description %></p>
                    <p><strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %></p>
                    <p><strong>Location:</strong> <%= listing.location %>, <%= listing.country %></p>
               
            </div>
        <% }) %>
    </div>
</body>

