<% layout('layouts/Boilerplate') %>
<body>
    <h3>All Listings</h3>
    <div id="listings-container">
        <% listings.forEach((listing) => { %>
            <div class="listing" >
                <a href= "/listings/<%= listing.id %>">
                     <h4><%= listing.title %></h4>
                    <img src="<%= listing.image.url %>" alt="<%= listing.title %>">
                    <p><%= listing.description %></p>
                    <p><strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %></p>
                    <p><strong>Location:</strong> <%= listing.location %>, <%= listing.country %></p>
               
            </div>
        <% }) %>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
      $(document).ready(function () {
        $(".alert").alert();
      });
    </script>
</body>

