<% layout('/layouts/Boilerplate') %>
<div class = "show-container">
    <h4><%= list.title %></h4>
    <img src="<%= list.image.url %>" alt="<%= list.title %>">
    <p><%= list.description %></p>
    <p><strong>Price:</strong> ₹<%= list.price.toLocaleString("en-IN") %></p>
    <p><strong>Location:</strong> <%= list.location %>, <%= list.country %></p>
    <form action="/listings/<%= list._id %>/edit" method="get">
        <button type="submit">Edit</button>
    </form>
    <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button></form>
</div>
<br>
</div>
<hr>
<div class="review-box">
    <h2>Leave a Review</h2>
    <form action="/listings/<%= list.id %>/review" method="post" novalidate class = "needs-validation">
        <label for="rating">Rating</label>
 
        <input type="range" min="1" max="5" id="rating" name="rating" class="range" value="3" required>

        <label for="comment">Comment</label>
        <textarea rows="4" cols="50" name="comment" id="comment" placeholder="Leave your comment here" required></textarea >
        
        <button type="submit">Submit</button>
    </form>
</div>
<hr>
<h2 class="review-heading" ><b>Reviews</b></h2>
<div class="show-review">
    
    <div class = show-review>
        <% for(let review of list.reviews) { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Karan Patil</h5>
                  <h6 class="card-subtitle mb-2 text-muted">review</h6>
                  <p class="card-text"><%= review.comment%></p>
                    <p class="card-text">Rating: <%=review.rating%>⭐</p>
                </div>
                <form method="post" action = "/listings/<%= list._id %>/review/<%= review._id %>?_method=DELETE">
                    <button type="submit"  style="background-color: black;">Delete</button>
                </form>
              </div>
        <% } %>
    </div>
   
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    $(".alert").alert();
  });
</script>
